body {
    margin: 0;
    font-family: "Ubuntu", serif;
}

#vert2 {
    display: none;
}

#vert {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% 5% 5% 15% calc(45%/6) calc(45%/6) calc(45%/6) calc(45%/6) calc(45%/6) calc((45%/6)/2) calc((45%/6)/2);
    grid-template-rows: 100%;
    gap: 0%;
    background-color: white;
    justify-content: center;
}
.grid-container > div {
    background-color: white;
    font-family: "Ubuntu", serif;
    height: 100%;
}

#icon {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    position: relative;
}

#img {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    transition:background-color 1s ease-in;
}

#img:hover {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-color: rgba(25, 25, 25, 0.5);
    transition:background-color 1s ease-out;
}

#landing {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

footer {
    size: 0%;
}

#header-title {
    font-size: 200%;
    text-align: left;
    object-fit: cover;
}

#header-items {
    font-size: 150%;
    object-fit: cover;
    text-align: center;
    position: relative;

}

#header-items > p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#header-items > i {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


.background-fade {
    transition: background-color 1s ease-in;
}

.background-fade:hover {
    background-color: rgba(25, 25, 25, 0.5);
    transition:background-color 1s ease-out;
}

#img > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-family: "Ubuntu", serif;
    background-color: rgba(255, 255, 255, 20);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }

  #title-divider {
    display: none;
  }


#dropdown-menu {
    display: none;
}

#dropdown-items {
    position: absolutew;
    top: 0%;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 90%;
}

#dropdown-items > p {
    font-size: 150%;
    padding: 2% 30%;
}

#text-case {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: fit-content;
    color: white;
}

/* there has to be a better way.. oh well v_v */

@media (max-width: 2000px) {
    #dropdown-items { display:none; }
}

@media (max-width: 1300px) {

    .grid-container {
        display: grid;
        grid-template-columns: 20% 5% 5% 2.5% calc(60%/6) calc(60%/6) calc(60%/6) calc(60%/6) calc(60%/6) calc((60%/6)/2) calc((60%/6)/2);
        grid-template-rows: 100%;
        gap: 0%;
        background-color: white;
        justify-content: center;
    }

}

@media (max-width: 1100px) {

    .grid-container {
        display: grid;
        grid-template-columns: 20% 5% 5% 2.5% calc(60%/6) calc(60%/6) calc(60%/6) calc(60%/6) calc(60%/6) calc((60%/6)/2) calc((60%/6)/2);
        grid-template-rows: 100%;
        gap: 0%;
        background-color: white;
        justify-content: center;
    }
    
    #header-items {
        font-size: 130%;
    }
}

@media (max-width: 950px) {

    #dropdown-menu {
        display: block;
    }

    #header-items {
        display: none;
    }

    .img {
        display: none;
    }

    #title-divider {
        display: block;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 10% 20% 5% 20% 25% 20%; 
        grid-template-rows: 100%;
        gap: 0%;
        background-color: white;
        justify-content: center;
    }

    #vert {
        position: relative;
        height: 50%;
    }

    #vert2 {
        display: block;
        height: 50%;
    }

    #icon {
        width: 50%;
        object-fit: contain;
        margin: 0;
    }

    .container {
        display: inline-block;
        cursor: pointer;
        position: relative;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
    }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 2px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Rotate first bar */
    .change .bar1 {
        transform: translate(0, 7.5px) rotate(-45deg);
    }
    
    /* Fade out the second bar */
    .change .bar2 {opacity: 0;}
    
    /* Rotate last bar */
    .change .bar3 {
        transform: translate(0, -7.5px) rotate(45deg);
    }
    
    #dropdown-items {
        display: none;
    }
    }

@media (max-width: 650px) {
    #dropdown-menu {
        display: block;
    }
    #header-items {
        display: none;
    }

    .img {
        display: none;
    }

    #title-divider {
        display: block;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 5% 25% 5% 30% 25% 10%;
        grid-template-rows: 100%;
        gap: 0%;
        background-color: white;
        justify-content: center;
    }

    #vert {
        position: relative;
        height: 50%;
    }

    #vert2 {
        display: block;
        height: 50%;
    }

    #icon {
        width: 40%;
        object-fit: contain;
        margin: 0;
    }
    

}

@media (max-width: 500px) {
    #dropdown-menu {
        display: block;
    }
    #header-items {
        display: none;
    }

    .img {
        display: none;
    }

    #title-divider {
        display: block;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 10% 40% 5% 20% 15% 10%;
        grid-template-rows: 100%;
        gap: 0%;
        background-color: white;
        justify-content: center;
    }

    #vert {
        position: relative;
        height: 50%;
    }

    #vert2 {
        display: block;
        height: 50%;
    }

    #icon {
        width: 100%;
        object-fit: contain;
        margin: 0;
    }

}
